.footer-lists{
    color:red;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
}
.items{
    padding:4rem 17rem;
}
.blue{
    background-color:blue;
    color:white;
}
.yellow{
    background-color:yellow;
    color:rgb(244, 82, 109);
}